@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #36393F;
}

.side-icon{
  border-radius: 100%;
  background-color: #36393F;
}
.side-icon.active{
  border-radius: 1rem;
}
.side-icon:hover{
  border-radius: 1rem;
}

.side-icon svg{
  fill: #3BA55D
}
.side-icon.active svg{
  fill: #fff
}
.side-icon:hover svg{
  fill: #fff
}