@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #36393F;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 10px;
}

.side-icon{
  border-radius: 100%;
}
.side-icon.active{
  border-radius: 1rem;
}
.side-icon:hover{
  border-radius: 1rem;
}

.side-icon svg{
  fill: #3BA55D
}
.side-icon.active svg{
  fill: #fff
}
.side-icon:hover svg{
  fill: #fff
}

.dms-button *{
  color: #a5a5a5;
}
.dms-button:hover *{
  color: #eee;
}
.dms-button.active *{
  color: #eee;
}
.chat-container::-webkit-scrollbar{
  width: 8px;
}
.chat-container::-webkit-scrollbar-track {
  background: #2F3136;
}

.frs svg{
  color: #a5a5a5;
}
.frs:hover svg{
  color: #eee;
}